<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <figure class="image container is-128x128 mb-4">
      <img class="is-rounded" src="https://media-exp1.licdn.com/dms/image/C5603AQFTzyOyhPdPgA/profile-displayphoto-shrink_200_200/0/1593453992911?e=1633564800&v=beta&t=oaCjY5MRy6ADWMDj1uNndwWzVMV9c05tb5zX91QohMI"/>
    </figure>
    <center>
    <p class="title is-4">Mritunjay Kumar Sinha</p>
    <p class="subtitle is-6">@Resume_made_with_Flask_&_Python</p>
    <a class="button is-info is-outlined is-rounded" href='#'>Contact</a>
    <a class="button is-info is-outlined is-rounded" href="#">Linkedin</a>
    </center>
  </section>
  <section>
    <div class="column is-three-fifths is-offset-one-fifth has-background-dark">
      
    </div>
  </section>
  </body>
</html>