<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask(Git)-Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <figure class="image container is-128x128 mb-4">
      <img class="is-rounded" src="https://media-exp1.licdn.com/dms/image/C5603AQFTzyOyhPdPgA/profile-displayphoto-shrink_200_200/0/1593453992911?e=1633564800&v=beta&t=oaCjY5MRy6ADWMDj1uNndwWzVMV9c05tb5zX91QohMI"/>
    </figure>
    <center>
    <p class="title is-4">Mritunjay Kumar Sinha</p>
    <p class="subtitle is-6">@Resume_made_with_Flask_Python_&_Docker</p>
    <a class="button is-info is-outlined is-rounded" href={{url_for('contact')}} >Contact</a>
    <a class="button is-info is-outlined is-rounded" href="https://www.linkedin.com/in/mritunjay-kumar-sinha-977299150/">Linkedin</a>
    </center>
  </section>
  <section>
    <div class="column is-three-fifths is-offset-one-fifth has-background-light">
      <div class="columns is-gapless">
        <div class="column is=half">
          <div class="card m-3 has-background-dark has-text-light">
            <div class="card-content">
              <H1><b>About</b></H1>
              <p>{{profile.about}}</p>
            </div>
          </div>
          <div class="card m-3 has-background-dark has-text-light">
            <div class="card-content">
              <H1><b>Education</b></H1>
              <p>{{profile.education}}</p>
            </div>
          </div>
        </div>
        <div class="column is=half">
          <div class="card m-3 has-background-dark has-text-light">
            <div class="card-content">
              <h1><b>Email</b></h1>
              <p>{{profile.email}}</p>
            </div>
          </div>

          <div class="card m-3 has-background-dark has-text-light">
            <div class="card-content">
              <h1><b>Work History</b></h1>
              <p>{{profile.work}}</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>